* text=auto

.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.example text eol=lf
*.ipynb text eol=lf
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.pdf binary
*.docx binary
*.pptx binary
*.xlsx binary
*.mp4 binary
